body, html, #root {
  height: 100%;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

h1 {
  padding: .77rem 0;
  background-color: #E54B4B;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 15% 10% 15%;
  background-color: #212121;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Contact {
  padding: 1rem 0;
  background-color: #E54B4B;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.Author {
  font-size: 1rem;
  padding-bottom: 0.2rem;
}

.Contact-me {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
  display: inline-block;
}

.Icon a {
  font-size: 1.8rem;
  padding: 0.3rem;
  margin-top: 2rem;
  color: #fff;
}

.Icon a:hover {
  cursor: pointer;
  color: #A62639;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    height: 100%;
    padding: 0 8% 10% 8%;
  }
}