.SearchBar {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 3rem;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: 0 1px 1px #E54B4B inset, 0 0 8px #E54B4B;
}

.SearchButton {
  margin: 0px auto;
  margin-bottom: 3rem;
  margin-top: 2rem;
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: #E54B4B;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
  outline: none!important;
}

.SearchButton:hover {
  background-color: #A62639;
}

.dropdown-toggle {
  background-color: #E54B4B;
  color: #fff;
}

.dropdown-toggle:focus {
  border-color: transparent;
  box-shadow: 0 1px 1px #E54B4B inset, 0 0 8px #E54B4B;
}

.dropdown-item {
  width: 92.41px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-item:hover {
  cursor: pointer;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .SearchBar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}